<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalae37.phoz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KyungbokActivity"></activity>
        <activity android:name=".KyungheeActivity" />
        <activity android:name=".DeoksuActivity" />
        <activity android:name=".ChangdeokActivity" />
        <activity android:name=".ChangkyungActivity" />
        <activity android:name=".BuckcheonActivity" />
        <activity android:name=".InsaActivity" />
        <activity android:name=".IkseonActivity" />
        <activity android:name=".JeonjuActivity" />
        <activity android:name=".DokdoActivity" />
        <activity android:name=".UlsanActivity" />
        <activity android:name=".InjaeActivity" />
        <activity android:name=".TaeahnActivity" />
        <activity android:name=".RiverActivity" />
        <activity android:name=".HwasungActivity" />
        <activity android:name=".SaemangeumActivity" />
        <activity android:name=".PohangActivity" />
        <activity android:name=".MokpoActivity" />
        <activity android:name=".JungranActivity" />
        <activity android:name=".GangwondoActivity" />
        <activity android:name=".YangjuActivity" />
        <activity android:name=".NatureActivity" />
        <activity android:name=".TraditionalActivity" />
        <activity android:name=".KWaveActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAkErjxqSUbkFYhf98-QUDOjLKXecleIVs" />

        <activity android:name=".SparrowHillActivity" />
        <activity android:name=".YigzinoActivity" />
        <activity android:name=".ColomenskayaActivity" />
        <activity android:name=".GorkyParkActivity" />
        <activity android:name=".BolshoiTheatreActivity" />
        <activity android:name=".CathedralChristSaviorActivity" />
        <activity android:name=".MArbatStreetActivity" />
        <activity android:name=".MoscowCityActivity" />
        <activity android:name=".GumDepartmentStoreActivity" />
        <activity android:name=".ZarajieParkActivity" />
        <activity android:name=".BasilicaCathedralActivity" />
        <activity android:name=".RedSquareActivity" />
        <activity android:name=".SakyamuniParkActivity" />
        <activity android:name=".BethenhaActivity" />
        <activity android:name=".IzmilovoMarketActivity" />
        <activity android:name=".MoscowSouthActivity" />
        <activity android:name=".MoscowCenterActivity" />
        <activity android:name=".MoscowNorthActivity" />
        <activity android:name=".VladivostokStationActivity" />
        <activity android:name=".FolklopskyCathedralActivity" />
        <activity android:name=".TriumphalArchActivity" />
        <activity android:name=".EagleObservatoryActivity" />
        <activity android:name=".CarouselAmusementParkActivity" />
        <activity android:name=".MarineParkActivity" />
        <activity android:name=".ArbatStreetActivity" />
        <activity android:name=".PeterhofActivity" />
        <activity android:name=".HermitageMuseumActivity" />
        <activity android:name=".MariinskyTheatreActivity" />
        <activity android:name=".StIsaacCathedralActivity" />
        <activity android:name=".BronzeHorsemanActivity" />
        <activity android:name=".KazanCathedralActivity" />
        <activity android:name=".ChristRevivalCathedralActivity" />
        <activity android:name=".PeterhofPalaceActivity" />
        <activity android:name=".SaintPetersburgActivity" />
        <activity android:name=".VladimirVostockActivity" />
        <activity android:name=".MoscowActivity" />
        <activity android:name=".RussiaActivity" />
        <activity android:name=".KoreaActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>